@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Inter:wght@800&family=Monda:wght@400;700&family=Poppins:wght@100;200;400;500&family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background-color: #fec10f;
}
.head1
{
    background-color:#000000 ;
    padding-top: 10;
    padding-left: 10;
    padding-bottom: 10;
    border-radius: 20px;
    -webkit-text-fill-color: #fec10f;
    font-family: 'Oswald', sans-serif;
}
.nav
{   display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000000;
    border-radius: 10px;
    margin: 10px 10px 0px 0px;
    height: 5%;
    padding:0px 0px 0px 0px;
}
.body1
{
    background-color: #000000;
    height: 500;
    border-radius: 20px;
    padding-left: 10;
    margin-top: 10px;
}
.logo
{
    width: 150px; 
    height: 150px;
    border-radius: 30px;
}
.opb
{
    text-align: center;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}
.body3
{
    align-content: center;
    background-color: #ffffff;
    border-radius: 20px;
}
.book
{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    mix-blend-mode: darken;
}
.body4
{
    text-align: center;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-list{
  display:flex;
  align-content: center;
  margin-left:-10px;
  
  
  
  
}
.nav-list li{
  text-decoration: none;
  margin: 4px;
}
.nav-list li a{
  text-decoration: none;
  color: white;
}